{% macro list(reviews) %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% if reviews|length > 0 %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Name</th>
            <th>Email</th>
            <th>Rating</th>
            <th>Updated At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for review in reviews %}
        <tr>
            <td>
                {{ review.id }}
            </td>
            <td>
                {{ review.moderationStatus }}
            </td>
            <td>
                {{ review.reviewerName }}
            </td>
            <td>
                {{ review.reviewerEmail }}
            </td>
            <td>
            	<div class="raty"></div>
            	{{ review.rating }}
            </td>
            <td><span class="label label-info">{{ review.updatedAt|date }}</span></td>
            <td>
                <div class="pull-right">
                {{ buttons.show(path('sylius_backend_review_show', {'id': review.id})) }}
                {{ buttons.edit(path('sylius_backend_review_update', {'id': review.id})) }}
                {{ buttons.delete(path('sylius_backend_review_delete', {'id': review.id})) }}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
No Results
{% endif %}

{% endmacro %}
