{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li><a href="{{ path('sylius_backend_review_index') }}">Reviews</a></li>
    <li>{{ review.title }}</li>
    <li>Show</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="pull-right">
        <a class="btn btn-success" href="{{ path('sylius_backend_review_approve', {'id': review.id}) }}">Approve</a>
        <a class="btn btn-danger" href="{{ path('sylius_backend_review_deny', {'id': review.id}) }}">Deny</a>
    </div>
    <h1><i class="icon-ellipsis-vertical"></i> Review</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Name</th>
            <th>Email</th>
            <th>Rating</th>
            <th>Updated At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ review.id }}</td>
            <td>{{ review.moderationStatus }}</td>
            <td>{{ review.reviewerName }}</td>
            <td>{{ review.reviewerEmail }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.updatedAt|date }}</td>
            <td>
                <div class="pull-right">
	                {{ buttons.edit(path('sylius_backend_review_update', {'id': review.id})) }}
	                {{ buttons.delete(path('sylius_backend_review_delete', {'id': review.id})) }}
                </div>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
