{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Macros:actions.html.twig' import update %}
{% import 'SyliusWebBundle:Backend/Macros:buttons.html.twig' as buttons %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/backend_product.js'
    '@SyliusShippingBundle/Resources/assets/js/prototype-handler.js'
    '@SyliusWebBundle/Resources/assets/js/dynamic-property-types.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block content %}
<div class="page-header">
<h1>Update Review</h1>
</div>

<div class="well well-small">
    {{ buttons.manage(path('sylius_backend_review_index'), 'Manage Reviews') }}
    {{ buttons.delete(path('sylius_backend_review_delete', {'id': review.id})) }}
	<a class="btn btn-success" href="{{ path('sylius_backend_review_approve', {'id': review.id}) }}">Approve</a>
	<a class="btn btn-danger" href="{{ path('sylius_backend_review_show', {'id': review.id}) }}">Deny</a>
</div>

<form action="{{ path('sylius_backend_review_update', {'id': review.id}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/Review:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
