{{ form_start(form, { 'action': path('sylius_review_product', { 'slug' : product.slug })}) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.rating,'Please rate this product form 1 - 5 stars:') }}
        {{ form_errors(form.rating) }}
        {{ form_widget(form.rating, {'attr': {'class': 'form-control'}}) }}
    </div>
    {% if form.name is defined %}
	    <div class="form-group">
	        {{ form_label(form.name,'Reviewer Name') }}
	        {{ form_errors(form.name) }}
	        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
	    </div>
    {% endif %}
    {% if form.email is defined %}
	    <div class="form-group">
	        {{ form_label(form.email,'Email address') }}
	        {{ form_errors(form.email) }}
	        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
	    </div>
    {% endif %}
    <div class="form-group">
        {{ form_label(form.title,'Review Title') }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.comment,'Review') }}
        {{ form_errors(form.comment) }}
        {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn">Submit</button>
{{ form_end(form) }}