{% extends 'SyliusResourceBundle::layout.html.twig' %}

{% block sylius_content %}
    <div class="row">
    <div class="col-sm-10 col-md-8">
		{{ form_start(form, { action: path('sylius_review_new') }) }}
		    {{ form_errors(form) }}
	        <div id="star-rating form-group">
	            {{ form_label(form.rating,'Please rate this product form 1 - 5 stars:') }}
		        {{ form_errors(form.rating) }}
		        {{ form_widget(form.rating) }}
	        </div>
	        <div class="form-group">
	            {{ form_errors(form.comment) }}
	            {{ form_widget(form.comment, {'attr': {'placeholder': 'Describe your review', 'class': 'form-control'}}) }}
	        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
